@import "global.css";
@import "screen-casper.css";
@import "fonts.css";
/* @import "grid.css"; */
/* @import "app-blog.css"; */


/* 1. Global - Set up the things
/* ---------------------------------------------------------- */


/* 1.1. Variables
/* ---------------------------------------------------------- */

:root {
    --color-text: #2a2a2a;
    --global-border-radius: 2px;
    --blue: #26a8ed;
}

/* 1.2. Body
/* ---------------------------------------------------------- */

body {
    color: var(--color-text);
    /* font-family: Rubik,'-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue','sans-serif'; */
}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-main {
}


/* 3. Special Template Styles
/* ---------------------------------------------------------- */

@media (min-width: 900px) {
    .home-template .post-feed,
    .tag-template .post-feed,
    .author-template .post-feed {
        /* margin-top: 40px;
        margin-bottom:20px; */
    }
    .home-template .site-nav {
        /* top: 0; */
    }
}

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    /* color: inherit;
    background: #fff; */
    padding: 8px 0;
}

.site-header::before, .site-header::after {
    display: none;
}

/* .post-template .site-header {
    background:inherit;
} */

.gh-head {
    /* background: var(--blue);
    color: #fff; */
}


/* 5. Site Navigation
/* ---------------------------------------------------------- */

.site-nav-logo {
    display:inline-block;
    margin-right:40px;
    color:inherit;
}

.site-nav-logo-suffix {
    display:inline-block;
    position:relative;
    padding-left:10px;
    margin-left:10px;
    color: color(var(--blue) l(-5%));
}

.site-nav-logo-suffix::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 23px;
    background: #d3e4ee;
    transform: rotate(25deg);
}

.nav li a {
    color: inherit;
    /* font-family: Dosis; */
    text-transform:none;
    font-weight:500;
    opacity:1;
    color:inherit;
}

.nav li a:hover {
    color:#343f44;
}

.site-nav-right .subscribe-button {
    color:inherit;
    opacity:1;
}

.site-nav-right .subscribe-button:hover {
    color:#343f44;
    border-color:currentColor;
}

/* .gh-navbar-item {
    color: inherit;
}

.gh-navbar-btn {
    color: inherit;
}

.gh-navbar-btn:hover {
    color: #343f44;
    border-color:#343f44;
} */

.ghost-svg {
    width: auto;
    height: 25px;
    fill:currentColor;
    color:#fff;
}



/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-card,
.read-next-card {
    border-radius: var(--global-border-radius);
    margin:0 10px 20px;
}

.post-card-image-link {
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

/* .post-card:hover {
    box-shadow: none;
    transition: none;
    transform: none;
} */


.post-card-meta {
    padding:0;
}

.post-card-content-link {
    padding: 20px 0 0;
}

.post-card-title {
    display:inline-block;
    border-bottom:2px solid #fff;
    transition:0.5s ease all;

}

.post-card:hover .post-card-title {
    transition: 0.4s ease all;
    border-bottom:2px solid var(--blue);
}



@media (min-width: 795px) {
    .post-card {
        /* box-shadow: none; */
    }
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
    }
}

/* 6. Post Feed
/* ---------------------------------------------------------- */
.post-card {
    padding: 16px;
}


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template .site-main,
.page-template .site-main {
    /* background:inherit; */
}

.post-full {
    /* background:#fff; */
}

.post-full-header {
    text-align: left;
    padding: 4vw 3vw 3vw;
}

.post-full-meta {
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom:0;
    flex-wrap: wrap-reverse;
}

.post-full-header-date {
    display:inline-block;
    font-weight: 300;
    color: inherit;
    font-size:1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.post-full-meta .author-profile-name {
    margin: 0 auto 1rem 0;
    font-size: 1.4rem;
}

.post-full-meta .author-profile-name a {
    color: inherit;
}
.post-full-meta .author-profile-image, .post-full-meta .avatar-wrapper {
    margin-right: 14px;
    width: 32px;
    height: 32px;
}

 .post-full-meta .avatar-wrapper,
 .post-full-meta .date-divider {
    margin-bottom:1rem;
}

.post-full-header-tag {
    display: inline-block;
    color: var(--blue);
    font-size: 1.3rem;
    line-height: 1.15em;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom:1rem;
    font-weight:500;

}

.post-full-image {
    border-radius: var(--global-border-radius);
}

.post-full-content {
    border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}


/* 7.1. Subscribe Form
/* ---------------------------------------------------------- */

.subscribe-form {
    border-radius: var(--global-border-radius);
}


/* 7.5. Floating Header
/* ---------------------------------------------------------- */

.floating-header {
    background:#fff;
}


/* 10.1 Test Overlay
/* ---------------------------------------------------------- */

.test-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,25,40,0.97);
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;

    backdrop-filter: blur(3px);
}

.test-overlay:target {
    opacity: 1;
    pointer-events: auto;
}

.test-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.test-overlay-close:before {
    content: "";
    position: absolute;
    top: 40px;
    right: 25px;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(45deg);
}

.test-overlay-close:after {
    content: "";
    position: absolute;
    top: 40px;
    right: 25px;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(-45deg);
}

.test-overlay-close:hover {
    cursor: default;
}


/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    background: var(--blue);
    /* background: #006CA1; */
}
