@import "screen-casper.css";

.site-header {
  color: inherit;
  background: inherit;
}

.post-card, .post-card-image-link {
  overflow:hidden;
  border-radius: 0;
}

.post-card:hover {
  transition:inherit;
  transform:inherit;
  box-shadow:inherit;
}

.post-card-image-link {
  transition: all 0.4s ease;
}

.post-card-image-link:hover {
  transform: translate3D(0,-1px,0) scale(1.02);
}

@media (min-width: 795px) {
  .post-card {
    box-shadow: none;
  }
  .post-card, .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
    border-radius: 0;
  }
}
header > .inner, #site-main > .inner {
  background: white;
}

#site-main > .inner {
  padding: 0 20px;
}


.site-footer {
  margin-top: 12px;
}
